@font-face {
    font-family: 'autobahn';
    src: url('autobahn.eot');
    src: url('autobahn.eot?#iefix') format('embedded-opentype'),
         url('autobahn.woff') format('woff'),
         url('autobahn.ttf') format('truetype'),
         url('autobahn.svg#autobahn') format('svg');
}

